[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "==3.11.0"
django-rest-knox = "==4.1.0"
psycopg2 = "==2.8.4"
pycparser = "==2.20"
pytz = "==2019.3"
six = "==1.14.0"
sqlparse = "==0.3.1"
django-cors-headers = "==3.2.1"
Django = "==3.0.5"

[requires]
python_version = "3.8"
