.Auth {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    margin-left: 40%;
}

.Auth > div {
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
}

.AuthForm {
    background: #eee;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
}