.Auth {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    flex-grow: 1;
    margin: 0 auto;
}

.Auth > div {
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
}

.AuthForm {
    background-color: #eff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 15px;
    border-radius: 5px;
}

.Auth h1 {
    text-align: center;
    padding-bottom: 10px;
}
.Auth Button {
    width: 100%;
}