.CreateTask {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
}

.CreateTask > div {
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
}

.CreateTask h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.CreateTaskForm {
    background: #eff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 15px;
    border-radius: 5px;
    
}
.CreateTask Button {
    margin-top: 10px ;
}