.CreateProject {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
}

.CreateProject > div {
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
}

.CreateProject h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.CreateProjectForm {
    background: #eee;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
}